#formatting-guide {
    margin: auto;
    display: grid;
    justify-content: center;
}

table {
    border-collapse: collapse;
    padding: 5px;
    margin: 5px;
    width: 600px;
    table-layout: fixed;
}

table > tbody > tr > td {
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 5px;
    background: white;
}

table > tbody > tr > td:first-child {
    font-family: "Lucida Console", "Courier New", monospace;
}

@media (min-width: 1280px) {
  #formatting-guide {
    grid-template-columns: repeat(2, 1fr);
  }
}
