#formatting-guide {
    margin: auto;
}

table {
    border: 2px solid black;
    border-spacing: 3px;
    margin: auto;
}

table > tbody > tr > td {
    padding: 5px;
    background: white;
}

table > tbody > tr > td:first-child {
    font-family: "Lucida Console", "Courier New", monospace;
}
