.thread-comment {
    max-height: 200px;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.read-more {
    margin: auto;
    text-align: center;
}

.read-more a {
    text-decoration: none;
}
