@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100..900&family=Noto+Serif+Bengali:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap');

:root {
    --white:#F8F8FF;
    --black:#272727;
    --gray:#D9E1DC;
    --lgray:#F5F3EF;

    --brand:#C0261D;
    --sup1:#14A76C;
    --sup2:#D6A020;
    --sup3:#26ACB5;

    --brandl:#F6E7E6;
    --brandd:#3D0604;
    --sup1l:#DBF1E8;
    --sup1ml:#D5EFE5;
    --sup1d:#033B24;
    --sup1md:#0C7148;
    --sup2l:#F2ECDF;
    --sup2d:#3D2D03;
    --sup3l:#D7E8E9;
    --sup3d:#044044;

    --fg:var(--black);
    --bg:var(--lgray);
    --bgbg:var(--gray);
    --border:var(--sup1l);
    --logo:var(--brand);
    --logo-line:var(--logo);
    --logo-bg:var(--sup2);
    --headline:var(--brand);
    --yellow:var(--sup2);

    --thread-fg:var(--sup1d);
    --thread-bg:var(--sup1l);
    --reply-fg:var(--thread-fg);
    --reply-bg:var(--sup1ml);

    --highlighted-bg:var(--sup1);
    --highlighted-border:var(--brand);

    --board-title:var(--brand);

    --redaction-reason:var(--brandl);
    --redaction-reason-fg:var(--brandd);

    --button:#B1D3A5;
    --button-shadow:#659226;

    --notice-head:var(--sup1);
    --notice-fg:var(--sup1d);
    --notice-bg:var(--bg);
    --notice-border:var(--sup1md);

    --sidebar-h-fg:var(--sup3d);
    --sidebar-h-bg:var(--sup3);

    --sidebar:var(--sup1d);
    --sidebar-fg:var(--sup1d);
    --sidebar-bg:var(--sup1l);

    --sidebtn-fg:var(--sup1d);

    --navbar-fg:var(--sup3d);
    --navbar-bg:var(--bgbg);
    --navbar-border:var(--sup3d);

    --highlights:var(--bg);
    --highlights-border:var(--black);
    --highlights-head:var(--sup1);
    --highlights-headline:var(--sup1d);

    --post-form-fg:var(--sup1d);
    --post-form-bg:var(--sup1l);
    --post-form-border:var(--gray);

    --quote:var(--sup1);
    --ref:var(--brand);
    --spoiler:var(--black);
    --redText:var(--brand);
    --boardRef:var(--sup3);
    --board-label:var(--sup3);
    --board-label-fg:var(--sup3d);

    --tid:var(--brand);
    --utid:var(--sup1md);

    --submit-btn:var(--button);

    --navbar-height:30px;
}

body {
    background-color: var(--bgbg);
    color: var(--fg);
    font-family: Helvetica, 'Noto Sans Bengali', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    display: grid;
    grid-template-rows: var(--navbar-height) 1fr;
    grid-template-columns: 1fr min-content;
    grid-template-areas:
	"head head"
	"main side";
    margin: 0;
    padding: 0;
    height: 100vh;
}

main {
    grid-area: main;
    overflow-y: auto;
}

h1 {
    max-width: 650px;
    margin: 8px auto;
    border-radius: 5px;
}

hr {
    max-width: 1050px;
}

#logo {
    color: var(--logo);
    text-decoration: none;
    margin-right: auto;
    font-weight: 600;
    letter-spacing: 2px;
    text-shadow: 2px;
    font-size: 1.3em;
    font-family: 'Atma', monospace, Bold;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.quote {
    color: var(--quote);
}

.ref {
    color: var(--ref);
}

.spoiler:not(:hover) {
    color: transparent;
    background-color: var(--spoiler);
}

.redText {
    color: var(--redText);
    font-weight: bold;
}

.boardRef {
    color: var(--boardRef);
    text-decoration: none;
}

.img-comment {
    display: block;
    max-width: 100%;
    max-height: 80vh;
    margin: auto;
}

#highlights {
    background-color: var(--highlights);
    min-width: 150px;
    max-width: 1100px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 0 3px var(--highlights-border);
}

#highlights .thread-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
}

#highlights .thread {
    min-width: 50px;
    max-width: 240px;
    flex: 2 1 190px;
    border: 1px solid var(--border);
}

#highlights .thread-body {
    height: 225px;
    overflow-y: hidden;
}

@media (min-width: 950px) {
    #highlights .thread {
	max-width: 260px;
	flex: 2 1 240px;
    }

    #highlights .thread-body {
	height: 240px;
    }
}

@media (max-width: 450px) {
    #highlights .thread {
	max-width: 250px;
	flex: 2 1 150px;
    }
}

#highlights > h2 {
    text-align: center;
    color: var(--highlights-headline);
    background-color: var(--highlights-head);
    border-radius: 5px 5px 0 0;
    margin: 0;
}

#postFormContainer {
    display: none;
    margin: auto;
    min-width: 150px;
    text-align: center;
}

#postForm {
    margin: 10px;
    max-width: 468px;
    margin: auto;
}

#postForm > tbody > tr > td:first-child {
    border: 1px solid var(--border);
    border-radius: 2px;
    background-color: var(--post-form-bg);
}

#board-title {
    color: var(--board-title);
}

.thread-container {
    max-width: 700px;
    margin: auto;
}

.thread {
    margin: auto 7px;
}

.thread,
.reply {
    border: 1px solid var(--border);
    border-radius: 2px;
    color: var(--thread-fg);
    padding: 2px;
    margin: 4px 3px;
}

.thread {
    background-color: var(--thread-bg);
}

.reply {
    background-color: var(--reply-bg);
}

.thread-body > a {
    display: block;
    color: inherit;
}

.thread-tagline,
.thread-headline,
.thread-comment,
.reply-tagline,
.reply-comment,
#submission-preview {
    margin: 3px;
}

.thread-headline {
    text-align: center;
}

.thread-comment,
.reply-comment,
#submission-preview {
    max-width: 90%;
    margin: auto;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
}

#submission-preview {
    color: var(--thread-fg);
    background-color: var(--thread-bg);
}

.thread-tagline,
.reply-tagline {
    color: #0E3D55;
    margin: 0;
    font-size: 0.8rem;
}

.thread-id,
.thread-utid,
.thread-time,
.reply-id,
.reply-utid,
.reply-time,
.thread-board {
    color: var(--fg);
}

.thread-utid,
.reply-utid {
    color: var(--utid);
    font-weight: bold;
}

.thread-id,
.reply-id {
    color: var(--tid);
}

.thread-board > a {
    text-decoration: none;
}

#k-title {
    color: var(--headline);
    padding: 0;
}

.thread-buttons {
    display: block;
    margin: 5px 0 0 0;
    padding: 0;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 0.8rem;
}

.thread-buttons > li {
    display: inline-block;
    padding: 0 10px 0 0;
}

.thread-buttons > li > a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.yellow {
    color: var(--yellow);
}

#navbar {
    grid-area: head;
    text-align: center;
    color: var(--navbar-fg);
    background-color: var(--navbar-bg);
    box-shadow: 0 1px 2px 0 var(--navbar-border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--navbar-height);
    overflow: hidden;
    font-weight: 500;
}

main, #sidebar {
    overflow-y: auto;
    padding: 4pt;

}

#navbar li:last-child {
    display: none;
}

#navbar ul {
    list-style-type: none;
    padding: 0 50px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: right;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (max-width: 840px) {
    #sidebar {
	display: none;
    }

    #navbar li {
	display: none;
    }

    #navbar li:last-child,
    #navbar #logo {
	display: block !important;
    }

    .show {
	display: block !important;
    }
}

#navbar a {
    text-decoration: none;
    padding: 5px;
    color: inherit;
}

#notice {
    max-width: 1100px;
    margin: 13px auto;
    padding: 9px 0;
    background-color: var(--notice-bg);
    border-radius: 5px;
    box-shadow: 0 0 2px var(--notice-border);
}

#notice h3 {
    margin: 3px auto;
    padding: 0;
    color: var(--notice-head);
    font-weight: 700;
}

#notice-msg {
    width: 95%;
    max-width: 850px;
    margin: auto;
    color: var(--notice-fg);
}

#notice-msg p {
    margin: 0;
}

.mod,
.submission {
    color: var(--thread-fg);
    background-color: var(--thread-bg);
    max-width: 700px;
    margin: auto;
    border: 1px solid var(--border);
    border-radius: 2px;
}

.mod form,
.submission form {
    padding: 13px 20px;
}

#postPopup {
    display: none;
    position: fixed;
    background-color: var(--post-form-bg);
    border: 3px solid var(--post-form-border);
    border-radius: 5px;
    width: 95vw;
    height: 95vh;
    overflow-y: auto;
    margin: auto;
    max-width: 800px;
    max-height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#postForm {
    flex: 1;
    margin: auto;
    min-width: 150px;
}

#postSubject {
    width:300px;
    min-height:30px;
    font-weight:bold;
}

#postComment {
    width: 385px;
    min-width: 100px;
    height: 200px;
}

@media (max-width: 460px) {
    #postSubject {
	width: 175px;
    }

    #postComment {
	width: 260px;
    }
}

@media (max-width: 360px) {
    ul #logo {
	display: none;
    }
}

#sidebar {
    grid-area: side;
    width: clamp(200px, 17vw, 280px);
    overflow-y: auto;
    border-left: 1px dashed var(--sidebar-fg);
    margin-left: 5px;
}

#sidebar h3 {
    color: var(--sidebar-h-fg);
    background-color: var(--sidebar-h-bg);
    margin: 5px;
    border-top: 1px solid var(--sidebar-fg);
    text-align: center;
}

#sidebar a {
    color: inherit;
    width: 100%;
    display: block;
    margin: 1px 10px;
}

#sidebar .thread {
    width: 100%;
    padding: 0;
    margin: 0;
}

#sidebar ul {
    list-style-type: none;
    padding: 0 5px;
    margin: 0;
    flex-wrap: wrap;
}

.popup-btn,
#sidebar li {
    postion: relative;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    border: 0;
    font-weight: 500;
    color: var(--sidebtn-fg);
}

.popup-btn:hover,
#sidebar li:hover {
    animation: shake .4s linear infinite;
}

.popup-btn:active,
#sidebar li:active {
    animation: jump .15s ease-in-out;
}

#submit {
    background-color: var(--submit-btn);
}

@keyframes shake {
    0% { transform: translateX(0) }
    25% { transform: translateX(2px) }
    50% { transform: translateX(0) }
    75% { transform: translateX(-2px) }
    100% { transform: translateX(0) }
}

@keyframes jump {
    0% { transform: translateX(0) }
    25% { transform: translateY(-2px) }
    25% { transform: translateY(-2px) rotate(3deg) }
    55% { transform: translateY(-2px) rotate(-3deg) }
    35% { transform: translateY(-2px) rotate(3deg) }
    75% { transform: translateY(-2px) rotate(-3deg) }
    100% { transform: translateY(0) rotate(0) }
}

.btn,
button {
    postion: relative;
    display: inline-block;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    padding: 0.25em 0.5em;
    margin: 0.25em;
    border: 0;
    border-radius: 0.75em;
    font-weight: 500;
    transition: 0.3s;
    background-color: var(--button);
    box-shadow: 0 6px 0 var(--button-shadow);
}

.btn:hover,
button:hover {
    transform: translateY(2px);
    box-shadow: 0 4px 0 var(--button-shadow);
}

.btn:active,
button:active {
    transform: translateY(5px);
    box-shadow: 0 3px 0 var(--button-shadow);
}

#submissionEditing h3 {
    text-decoration: underline;
    padding: 0;
    margin: 0;
}

.boardLabel {
    background-color: var(--board-label);
    color: var(--board-label-fg);
    padding: 0;
    margin: 0;
}

.boardLabel a {
    color: inherit;
}

.redaction-reason {
    color: var(--redaction-reason-fg);
    background-color: var(--redaction-reason);
}

.refPreview {
    display: none;
    position: fixed;
}

.showPreview {
    display: block !important;
}

.highlightedPreview {
    background-color: red !important;
}

.highlighted {
    background-color: var(--highlighted-bg) !important;
    border: 2px solid var(--highlighted-border);
}
