<!DOCTYPE html>
<html lang="bn">
  <head>
    <meta charset="UTF-8">
    <title>
      {% block title %}

      BanglaChan: Anonymous Bengali Internet Forum | বাংলাচান

      {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width,
				   initial-scale=1.0">
    <meta name="description" content="A Bengali Internet Forum. বাংলাচান
				      is an online anonymous forum for
				      Bengali speaking community.
				      Users have the freedom to
				      express themselves without
				      revealing their identity.">
    <meta name="og:description" content="A Bengali Internet Forum. বাংলাচান
				      is an online anonymous forum for
				      Bengali speaking community.
				      Users have the freedom to
				      express themselves without
				      revealing their identity.">
    <meta property="og:title" content="বাংলাচান - A Bengali Internet Forum">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="675">
    <meta property="og:image:type" content="image/png">
    <meta property="og:type" content="website">

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content="বাংলাচান - A Bengali
    Internet Forum" />
    <meta name="keywords"
	  content="bd,bangla,bengali,bangladesh,image
		   board,forum,anonymous,anime,video games" />
    <meta name="google-site-verification"
		   content="dHqnhCj8cv-l0dq_ZHzBirxgON7976JAtoCSXCgPfQA"
		   />

    <link rel="stylesheet" href="/static/styles.css">

    {% block extrahead %}

    {% endblock extrahead %}

  </head>
  <body>
    {% include "navbar.html" %}
    {% include "sidebar.html" %}

    <main>
      {% block main %}

      {% endblock main %}
    </main>

    {% block scripts %}

    {% endblock scripts %}

    {% include "sidebar-script.html" %}
    {% include "popup-post-form.html" %}
    <script defer src="https://kit.fontawesome.com/9187eb4d30.js"
	    crossorigin="anonymous"></script>
   </body>
</html>
