<!DOCTYPE html>
<html lang="bn">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>/{{board.url}}/ - {{board.label}} - বাchan</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://kit.fontawesome.com/9187eb4d30.js"
	    crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <h1 id="board-title">
	<center>/{{board.url}}/ - {{board.label}}</center>
      </h1>
      <hr />
      <div id="newThreadButton">
	<center>
	  [
	  <a href="#" id="new-thread-button" title="Start a New Thread">
	    একটি নতুন কথোপকথন চালু করুন
	  </a>
	  ]
	</center>
      </div>
      <div id="postFormContainer" class="container">
	<table id="postForm"><form method="post">
	    <tbody>
	      <tr>
		<td title="Subject">
		  বিষয়
		</td>
		<td>
		  <input name="subject" type="text" style="width:
							   336px;" required />
		  <input name="submit" type="submit" value="জমা দিন"
			 title="Submit"/>
		</td>
	      <tr>
		<td title="Comment">
		  মন্তব্য
		</td>
		<td>
		  <textarea name="comment" cols="48" rows="4"
			    maxlength="4096" style="width: 388px;
						    height: 200px;" required ></textarea>
		</td>
	      </tr>
	    </tbody>
	</form></table>
	<table id="style-format">
	  <caption>
	    Text Formatting
	  </caption>
	  <thead>
	  </thead>
	  <tbody>
	    <tr>
	      <td>*bold*</td>
	      <td><b>bold</b></td>
	    </tr>
	    <tr>
	      <td>/italic/</td>
	      <td><i>italic</i></td>
	    </tr>
	    <tr>
	      <td>_underlined_</td>
	      <td><u>underlined</u></td>
	    </tr>
	    <tr>
	      <td>> quote</td>
	      <td><span class="q-comment">> quote</span></td>
	    </tr>
	    <tr>
	      <td>>>001</td>
	      <td><a class="t-comment"
		     href="/k/001">>>001</a></td>
	    </tr>
	  </tbody>
	</table>
	<table id="link-format">
	  <caption>
	    Link Formatting
	  </caption>
	  <thead>
	  </thead>
	  <tbody>
	    <tr>
	      <td>[[https://bachan.org]]</td>
	      <td><a href="https://bachan.org"
		     onClick="return confirm('Enter https://bachan.org?')">
		  https://bachan.org
	      </a></td>
	    </tr>
	    <tr>
	      <td>[[https://bachan.org][bachan]]</td>
	      <td><a href="https://bachan.org"
		     onClick="return confirm('Enter https://bachan.org?')">
		  bachan
	      </a></td>
	    </tr>
	    <tr>
	      <td>[[https://i.allthepics.net/2026/02/22/Cabbages_Anime.md.webp]]</TD>
	      <td><img src="https://i.allthepics.net/2026/02/22/Cabbages_Anime.md.webp"
								  alt="https://i.allthepics.net/2026/02/22/Cabbages_Anime.md.webp" class="img-comment"
								  /></td>
	    </tr>
	  </tbody>
	</table>
      </div>
    </header>
    <hr />
    <main>
      <div id="thread-container">
	{% for thread in threads %}
	<div class="thread" id="{{thread.id}}">
	  {% include "thread-tagline-without-boardname.html" %}
	  {% include "thread-body.html" %}
	  {% include "thread-buttons.html" %}
	</div>
	{% else %}
	<p> এই বোর্ডে এখনো কোনো কথোপকথন হয়নি। </p>
	{% endfor %}
      </div>
    </main>
    <script src="/static/new_thread.js"></script>
  </body>
</html>
