<!DOCTYPE html>
<html lang="bn">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>/{{board.url}}/ - {{board.label}} - বাchan</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://kit.fontawesome.com/9187eb4d30.js"
	    crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      {% include "navigation-headline.html" %}
      <h1 id="board-title">
	<center>/{{board.url}}/ - {{board.label}}</center>
      </h1>
      <hr />
      <div id="newThreadButton">
	<center>
	  [
	  <a href="#" id="new-thread-button" title="Start a New Thread">
	    একটি নতুন কথোপকথন চালু করুন
	  </a>
	  ]
	</center>
      </div>
      {% include "post-form-container.html" %}
    </header>
    <hr />
    <main>
      <div class="thread-container">
	{% for thread in threads %}
	{% include "thread.html" %}
	{% else %}
	<p> এই বোর্ডে এখনো কোনো কথোপকথন হয়নি। </p>
	{% endfor %}
      </div>
    </main>
    <script src="/static/new_thread.js"></script>
    <script src="/static/format_local_time.js"></script>
  </body>
</html>
