<table id="style-format">
  <caption>
    Text Formatting
  </caption>
  <thead>
  </thead>
  <tbody>
    <tr>
      <td>*bold*</td>
      <td><b>bold</b></td>
    </tr>
    <tr>
      <td>/italic/</td>
      <td><i>italic</i></td>
    </tr>
    <tr>
      <td>_underlined_</td>
      <td><u>underlined</u></td>
    </tr>
    <tr>
      <td>> quote</td>
      <td><span class="quote">> quote</span></td>
    </tr>
    <tr>
      <td>>>001</td>
      <td><a class="ref"
	     href="/k/001">>>001</a></td>
    </tr>
  </tbody>
</table>
<table id="link-format">
  <caption>
    Link Formatting
  </caption>
  <thead>
  </thead>
  <tbody>
    <tr>
      <td>[[https://bachan.org]]</td>
      <td><a href="https://bachan.org"
	     onClick="return confirm('Enter https://bachan.org?')">
	  https://bachan.org
      </a></td>
    </tr>
    <tr>
      <td>[[https://bachan.org][bachan]]</td>
      <td><a href="https://bachan.org"
	     onClick="return confirm('Enter https://bachan.org?')">
	  bachan
      </a></td>
    </tr>
    <tr>
      <td>[[https://i.allthepics.net/2026/02/22/Cabbages_Anime.md.webp]]</TD>
      <td><img src="https://i.allthepics.net/2026/02/22/Cabbages_Anime.md.webp"
	       alt="https://i.allthepics.net/2026/02/22/Cabbages_Anime.md.webp" class="img-comment"
	       /></td>
    </tr>
  </tbody>
</table>
