<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bachan</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1><center><a href="/" id="logo">bachan</a></center></h1>
    </header>
    <main>
        <h2>Boards</h2>
        <!-- List of boards -->
	<h2>Highlights</h2>
        <!-- List of highlighted threads -->
	<h2>Announcements</h2>
        <!-- List of announcements -->
    </main>
</body>
</html>
