<!DOCTYPE html>
<html lang="bn">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
				   initial-scale=1.0">
    <meta name="description" content="A Bengali Internet Forum">
    <meta name="keywords"
	  content="bd,bachan,bangla,bengali,bangladesh,bangladeshi,imageboard,
		   image board,forum,anonymous,chan,anime,,video
		   games,english">
    <title>বাchan</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://kit.fontawesome.com/9187eb4d30.js"
	    crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <h1><center><a href="/" id="logo">বাchan</a></center></h1>
    </header>
    <main>
      <div id="boards">
	<h2>Boards</h2>
	<div class="container">
	  <div class="column">
	    <h3>Hobbies</h3>
	    <ul>
	      {% for board in hobbies %}
	      <li><a href="{{board.url}}/">{{board.label}}</a></li>
	      {% endfor %}
	    </ul>
	  </div>
	  <div class="column">
	    <h3>Interests</h3>
	    <ul>
	      {% for board in interests %}
	      <li><a href="{{board.url}}/">{{board.label}}</a></li>
	      {% endfor %}
	    </ul>
	  </div>
	  <div class="column">
	    <h3>Lifestyle</h3>
	    <ul>
	      {% for board in lifestyle %}
	      <li><a href="{{board.url}}/">{{board.label}}</a></li>
	      {% endfor %}
	    </ul>
	  </div>
	  <div class="column">
	    <h3>Misc</h3>
	    <ul>
	      {% for board in misc %}
	      <li><a href="{{board.url}}/">{{board.label}}</a></li>
	      {% endfor %}
	    </ul>
	  </div>
	</div>
      </div>
      <div id="highlights">
	<h2>Highlights</h2>
	<!-- List of highlighted threads -->

	<div id="thread-container">
	{% for thread in threads %}
	<div class="thread" id="{{thread.id}}">
	  {% include "thread-tagline-with-boardname.html" %}
	  {% include "thread-body.html" %}
	  {% include "thread-buttons.html" %}
	</div>
	{% else %}
	<p> এখনো কোনো কথোপকথন হয়নি। </p>
	{% endfor %}
      </div>

      </div>
      <div id="announcements">
	<h2>Announcements</h2>
	<!-- List of announcements -->

      </div>
    </main>
  </body>
</html>
