<!DOCTYPE html>
<html lang="bn">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>বাchan</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <header>
      <h1><center><a href="/" id="logo">বাchan</a></center></h1>
    </header>
    <main>
      <h2>Boards</h2>
      <div class="column">
	<h3>Hobbies</h3>
	<ul>
	  <li>
	    <a href="/a">আনিমে এবং মাঙ্গা (Anime & Manga)</a>
	  </li>
	  <li>
	    <a href="/khabar">খাবার ও রান্না (Food & Cooking)</a>
	  </li>
	  <li>
	    <a href="/kheladhula">খেলাধুলা (Sports)</a>
	  </li>
	  <li>
	    <a href="/sangeet">সঙ্গীত (Music)</a>
	  </li>
	  <li>
	    <a href="/tv">ফিল্ম ও টেলিভিশন (Film & Television)</a>
	  </li>
	  <li>
	    <a href="/vg">ভিডিও গেমস (Video Games)</a>
	  </li>
	</ul>
      </div>
      <div class="column">
	<h3>Interests</h3>
	<ul>
	  <li>
	    <a href="/desh">বাংলাদেশ (Bangladesh)</a>
	  </li>
	  <li>
	    <a href="/sahitto">সাহিত্য (Literature)</a>
	  </li>
	  <li>
	    <a href="/manobota">মানবতা ও ইতিহাস (History & Humanity)</a>
	  </li>
	  <li>
	    <a href="/biggan">বিজ্ঞান ও গণিত (Science & Math)</a>
	  </li>
	</ul>
      </div>
      <div class="column">
	<h3>Lifestyle</h3>
	<ul>
	  <li>
	    <a href="/ghor">ঘরের সাজসজ্জা (Home Décor)</a>
	  </li>
	  <li>
	    <a href="/shajgoj">সাজগোজ (Fashion)</a>
	  </li>
	  <li>
	    <a href="/sastho">স্বাস্থ্য ও শরীরচর্চা (Health & Fitness)</a>
	  </li>
	  <li>
	    <a href="/manosik">মানসিক স্বাস্থ্য (Mental Health)</a>
	  </li>
	</ul>
      </div>
      <div class="column">
	<h3>Misc</h3>
	<ul>
	  <li>
	    <a href="/ghoshona">ঘোষণা (Announcements)</a>
	  </li>
	  <li>
	    <a href="/site">সাইট আলোচনা (Site Talk)</a>
	  </li>
	  <li>
	    <a href="/b">বিষয়বহির্ভূত (Random)</a>
	  </li>
	</ul>
      </div>

      <h2>Highlights</h2>
      <!-- List of highlighted threads -->

      <h2>Announcements</h2>
      <!-- List of announcements -->
    </main>
  </body>
</html>
