{% extends "base.html" %}

{% block title %}

কথোপকথন | বাংলাচান

{% endblock title %}

{% block main %}

<h1 id="k-title">
  <center>কথোপকথন <span class="yellow">on</span> বাংলাচান</center>
</h1>
<div class="thread-container">
  {% for thread in threads %}
  {% include "thread.html" %}
  {% else %}
  <p> এখনো কোনো কথোপকথন হয়নি। </p>
  {% endfor %}
</div>
<div id="load-more"><center>
    {% if has_more %}
    <div class="btn">
      <a href="/k/?limit={{limit}}&before_id={{last_thread_id}}"
	 style="text-decoration:none;
		color:black;">
	পরবর্তী পৃষ্ঠা
      </a>
    </div>
    {% else %}
    শেষ পৃষ্ঠা
    {% endif %}
</center></div>
{% include "popup-post-form.html" %}

{% endblock main %}

{% block scripts %}

<script defer src="/static/format_local_time.js"></script>
<script defer src="/static/emoji-up-flags.js"></script>

{% endblock scripts %}
