<!DOCTYPE html>
<html lang="bn">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{thread.id}} on বাchan</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <main>
      <div id="thread-container">
	<div class="thread" id="{{thread.id}}">
	  <p class="thread-tagline">
	    ID:
	    <span class="thread-id">
	      {{thread.id}}
	    </span>
	    submitted by
	    <span class="thread-utid">
	      {{thread.utid}}
	    </span>
	    on
	    <span class="thread-time">
	      {{thread.ctime}}
	    </span>
	    to
	    <span class="thread-board">
	      {{thread.board}}
	    </span>
	  </p>
	  <h3 class="thread-headline">{{thread.subject}}</h3>
	  <div class="thread-comment">
	    {{thread.comment}}
	  </div>
	</div>
      </div>
    </main>
  </body>
</html>
