{% extends "base.html" %}

{% block title %}
{{thread.subject}}: {{thread.id}} | /{{thread.board}}/ | বাংলাচান
{% endblock title %}

{% block extrahead %}

<link rel="stylesheet" href="/static/boards.css">

{% endblock extrahead %}

{% block main %}

<h1 id="board-title" class="k-board" label="/{{thread.board}}/">
  <a href="/{{thread.board}}/">
    <center>/{{thread.board}}/</center>
  </a>
</h1>

<div class="thread-container">
  {% include "thread.html" %}
  {% if not thread.redacted %}
  {% include "thread-replies.html" %}
  {% include "autorefresh-countdown.html" %}
  {% include "thread-reply-form.html" %}
  {% endif %}
</div>

{% endblock main %}

{% block scripts %}

{% include "popup-post-form.html" %}
<script defer src="/static/format_local_time.js"></script>
<script defer src="/static/ref_post.js"></script>
<script defer src="/static/emoji-up-flags.js"></script>
{% include "updated-replies-script.html" %}

{% endblock scripts %}
