<!DOCTYPE html>
<html lang="bn">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{thread.subject}}: {{thread.id}} | বাংলাচান</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <header>
      {% include "navigation-headline-for-thread.html" %}
    </header>
    <main>
      <div class="thread-container">
	{% include "thread.html" %}
	{% if not thread.redacted %}
	{% include "thread-replies.html" %}
	{% include "thread-reply-form.html" %}
	{% endif %}
      </div>
    </main>
    <script src="/static/format_local_time.js"></script>
    <script src="/static/ref_post.js"></script>
    <script defer src="https://kit.fontawesome.com/9187eb4d30.js"
	    crossorigin="anonymous"></script>
    {% include "updated-replies-script.html" %}
  </body>
</html>
