<nav id="navbar">
  <ul>

    <li id="logo">
      <a href="/" title="BanglaChan">
	𑍞বাংলাচান
      </a>
    </li>

    <li>
      <a href="/" title="homepage">
	<i class="fa-solid fa-house"></i> মূলপাতা
      </a>
    </li>

    <li>
      <a href="/formatting/"
	 title="formatting guide" >
	<i class="fa-solid fa-text-slash"></i> ফরম্যাটিং গাইড
      </a>
    </li>

    <li>
      <a href="/site/" title="Feedback">
	<i class="fa-solid fa-message"></i> ফিডব্যাক
      </a>
    <li>
      <a href="https://github.com/tktajwar/bachan" title="GitHub">
	<i class="fa-brands fa-github"></i> ডেভলগ
      </a>

    </li>

    <li class="md-only-block">
      <a id="sidebarBtn" href="javascript:toggleSidebar();">
	<i class="fa-solid fa-bars"></i> সাইডবার
      </a>
    </li>

  </ul>
</nav>
