<nav class="navbar">
  <ul>
    <li>
      <a href="/" title="homepage">
	[ <i class="fa-solid fa-house"></i> মূলপাতা ]
      </a>
    </li>
    <li>
      <a href="/{{thread.board}}/" title="board /{{thread.board}}/">
	[ /{{thread.board}}/ ]
      </a>
    </li>
    <li>
      <a href="https://github.com/tktajwar/bachan" title="GitHub">
	[ <i class="fa-brands fa-github"></i> গিটহাব ]
      </a>
    </li>
    <li>
      <a href="https://codeberg.org/tktajwar/bachan" title="Codeberg">
	[ <i class="fa-solid fa-code"></i> কোডবার্গ ]
      </a>
    </li>
    <li>
      <a href="https://discord.gg/BAWjqfUvKe" title="Discord">
	[ <i class="fa-brands fa-discord"></i> ডিসকোর্ড ]
      </a>
    </li>
  </ul>
</nav>
