<div id="notice" lang="bn">
  <h3><center>গুরুত্বপূর্ণ নোটিশ</center></h3>
  <div id="notice-msg">
    <p>
      বাংলাচান একটি বাংলা অনলাইন ফোরাম, যেখানে ব্যবহারকারীরা নিজের পরিচয়
      না প্রকাশ করেই স্বাধীনভাবে নিজের মতামত প্রকাশ ও এক অন্যের সাথে আলাপ
      করতে পারবেন। প্ল্যাটফর্মটি পরিচালনার ক্ষেত্রে বাংলাদেশ সংবিধানের
      সাইবার আইন অনুসরণ করা হয়। বাংলাচান ব্যবহারের জন্য ব্যবহারকারীর ন্যূনতম
      বয়স ১৮ বছর হতে হবে। এখানে কোনো ধরনের পর্নোগ্রাফিক বা ঘৃণামূলক কনটেন্ট
      কঠোরভাবে নিষিদ্ধ। এই সাইটটি ব্যবহার করার মাধ্যমে আপনি উল্লিখিত সকল
      নীতিমালা মেনে চলতে সম্মতি প্রদান করছেন। <span class="yellow">আলাপ
      চলুক।</span>
    </p>
    <p>
      <a href="https://github.com/tktajwar/bachan" title="GitHub">
	<i class="fa-brands fa-github"></i> গিটহাব
      </a>
      <a href="https://codeberg.org/tktajwar/bachan" title="Codeberg">
	<i class="fa-solid fa-code"></i> কোডবার্গ
      </a>
    </p>
  </div>
</div>
