<ul class="thread-buttons">
  <li class="thread-reply">
    <a href="#" onclick="add_ref('{{reply.id}}'); return false;"
       title="(cite) পোস্টটি উদ্ধৃত করুন">
      <i class="fa-solid fa-angles-right"></i>{{reply.id}}
    </a>
  </li>
  <li class="thread-report">
    <!-- TODO -->
    <a href="#" title="(report) রিপোর্ট করুন">
      <i class="fa-regular fa-flag"></i>
    </a>
  </li>
  <li class="thread-mod">
    <a href="/mod/{{reply.id}}" title="(moderate) পরিচালনা করুন">
      <i class="fa-solid fa-ellipsis"></i>
    </a>
  </li>
</ul>
