{% extends "base.html" %}

{% block extrahead %}

<meta property="og:image" content="/static/bachan-homepage.png" />

{% endblock extrahead %}


{% block main %}

{% include "notice.html" %}

{% include "popup-post-form.html" %}
<div id="highlights">
  <h2>জনপ্রিয় আলোচনা</h2>
  <!-- List of highlighted threads -->

  <div class="thread-container" id="highlights-container">
    {% for thread in threads %}
    {% include "top-thread.html" %}
    {% else %}
    <p> এখনো কোনো কথোপকথন হয়নি। </p>
    {% endfor %}
  </div>
</div>

{% endblock main %} 


{% block scripts %}

<script src="/static/format_local_time.js"></script>
{% include "update-highlights-script.html" %}

{% endblock scripts %}
