<!DOCTYPE html>
<html lang="bn">
  <head>
    <meta charset="UTF-8">
    <title>বাংলাchan: A Bengali Internet Forum</title>
    <meta name="viewport" content="width=device-width,
				   initial-scale=1.0">
    <meta name="description" content="A Bengali Internet Forum. বাংলাchan
				      is an online anonymous forum for
				      Bengali speaking community.
				      Users have the freedom to
				      express themselves without
				      revealing their identity.">
    <meta name="og:description" content="A Bengali Internet Forum. বাংলাchan
				      is an online anonymous forum for
				      Bengali speaking community.
				      Users have the freedom to
				      express themselves without
				      revealing their identity.">
    <meta property="og:title" content="বাংলাchan - A Bengali Internet Forum">
    <meta property="og:image" content="/static/bachan-homepage.png" />
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="675">
    <meta property="og:image:type" content="image/png">
    <meta property="og:type" content="website">

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content="বাংলাchan - A Bengali
    Internet Forum" />
    <meta property="twitter:image"
    content="/static/bachan-homepage.png" />

    <meta name="keywords"
	  content="bd,bangla,bengali,bangladesh,imageboard, image
		   board,forum,anonymous,anime,video games" />
    <meta name="google-site-verification"
		   content="dHqnhCj8cv-l0dq_ZHzBirxgON7976JAtoCSXCgPfQA"
		   />

    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://kit.fontawesome.com/9187eb4d30.js"
	    crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <h1><center><a href="/" id="logo"><span class="yellow">বাংলা</span>chan</a></center></h1>
      {% include "notice.html" %}
      <div id="welcome">
	<h2>বাংলাchan ফোরামে আপনাকে স্বাগতম!</h2>
	<nav class="navbar">
	  <ul>
	    <li>
	      <a id="popupThreadButton" title="add something new"
		 class="popup-btn">
		<i class="fa-solid fa-pen"></i> নতুন কিছু বলুন
	      </a>
	    </li>
	    <li>
	      <a href="/formatting-guide"
		 title="formatting guide" class="popup-btn">
		<i class="fa-solid fa-text-slash"></i> ফরম্যাটিং গাইড
	      </a>
	    </li>
	    <li>
	      <a href="https://discord.gg/BAWjqfUvKe"
		 title="join discord channel" class="popup-btn">
		<i class="fa-brands fa-discord"></i> ডিসকোর্ড
	      </a>
	    </li>
	  </ul>
	</nav>
      </div>
      {% include "popup-post-form.html" %}
    </header>
    <main>
      <div id="boards">
	<h2>Boards</h2>
	<div class="container">
	  <div class="column">
	    <h3>Hobbies</h3>
	    <ul>
	      {% for board in hobbies %}
	      <li><a href="{{board.url}}/">{{board.label}}</a></li>
	      {% endfor %}
	    </ul>
	  </div>
	  <div class="column">
	    <h3>Interests</h3>
	    <ul>
	      {% for board in interests %}
	      <li><a href="{{board.url}}/">{{board.label}}</a></li>
	      {% endfor %}
	    </ul>
	  </div>
	  <div class="column">
	    <h3>Lifestyle</h3>
	    <ul>
	      {% for board in lifestyle %}
	      <li><a href="{{board.url}}/">{{board.label}}</a></li>
	      {% endfor %}
	    </ul>
	  </div>
	  <div class="column">
	    <h3>Local</h3>
	    <ul>
	      {% for board in local %}
	      <li><a href="{{board.url}}/">{{board.label}}</a></li>
	      {% endfor %}
	    </ul>
	  </div>
	  <div class="column">
	    <h3>Misc</h3>
	    <ul>
	      {% for board in misc %}
	      <li><a href="{{board.url}}/">{{board.label}}</a></li>
	      {% endfor %}
	    </ul>
	  </div>
	</div>
      </div>
      <div id="highlights">
	<h2>Highlights</h2>
	<!-- List of highlighted threads -->

	<div class="thread-container">
	  {% for thread in threads %}
	  {% include "thread.html" %}
	  {% else %}
	  <p> এখনো কোনো কথোপকথন হয়নি। </p>
	  {% endfor %}
	</div>

      </div>
      <div id="announcements">
	<h2>Announcements</h2>
	<!-- List of announcements -->

	<div class="thread-container">
	  {% for thread in announcements %}
	  {% include "thread.html" %}
	  {% else %}
	  <p> এখনো কোনো ঘোষণা করা হয়নি। </p>
	  {% endfor %}
	</div>

      </div>
    </main>
    <script src="/static/popup.js"></script>
    <script src="/static/format_local_time.js"></script>
  </body>
</html>
