<!DOCTYPE html>
<html lang="bn">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>প্রকাশনা জমা দিন | বাংলাচান</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://kit.fontawesome.com/9187eb4d30.js"
	    crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      {% include "navigation-headline.html" %}
      <h1 id="submission-title">
	<center>প্রকাশনা জমা দিন</center>
      </h1>
    </header>

    <div class="thread-container">
      <div class="thread-body">
	<u>
	  <h3 class="thread-headline">{{pending_post.subject}}</h3>
	</u>
	<div class="thread-comment">{{pending_post.comment|safe}}</div>
      </div>
    </div>

    <div class="submission">
      <form id="submission-form" action="/submission/{{pending_post.id}}"
	    method="POST">

	<center>
	  <label for="name">নাম:</label>
	  <input type="text" id="name" name="name"
		 placeholder=" বানন#পাসওয়ার্ড"><br />

	  <br />

	  আপনি নিশ্চিত হলে প্রকাশনাটি জমা দিন।<br/>

	  <button type="submit" name="action" value="cancel">
	    <i class="fa-solid fa-xmark"></i> বাতিল করুন
	  </button>
	  <button type="submit" name="action" value="submit">
	    <i class="fa-solid fa-check"></i> জমা দিন
	  </button>
	</center>

      </form>
    </div>

    <br/>

    <div class="submission" id="submissionEditing">
      <h3><center>Edit Submission</center></h3>
      <form id="submission-form" action="/submission/{{pending_post.id}}"
	    method="POST">

	<textarea name="comment" cols="48" rows="4" maxlength="4096"
		    style="width: 385px; height: 200px;" required
		    >{{pending_post.rawcomment}}</textarea><br/>

	<button type="submit" name="action" value="edit">
	  <i class="fa-solid fa-arrows-rotate"></i> পুনরায় জমা দিন
	</button>

      </form>
    </div>

  </body>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
	const input = document.getElementById('name');
	const saved = localStorage.getItem('saved_name');
	if (saved != null) input.value = saved;

	input.addEventListener('input', () => {
	    try {
		localStorage.setItem('saved_name', input.value);
	    } catch (e) {
		console.log(e);
	    }
	});
    });
  </script>
</html>
