<ul class="thread-buttons">
  <li class="thread-replies">
    <a href="/k/{{thread.id}}#replies" title="(replies) 0 টি মন্তব্য">
      <i class="fa-regular fa-comment"></i> {{thread.reply_count}}
    </a>
    <span class="thread-mtime" title="{{thread.mtime}}"><span>
  </li>
  <li class="thread-report">
    <!-- TODO -->
    <a href="#" title="(report) রিপোর্ট করুন">
      <i class="fa-regular fa-flag"></i>
    </a>
  </li>
  <li class="thread-mod">
    <a href="/mod/{{thread.id}}" title="(moderate) পরিচালনা করুন">
      <i class="fa-solid fa-ellipsis"></i>
    </a>
  </li>
</ul>
