<script>
  let lastId = {{last_id}};
  let unseenCount = 0;
  let originalTitle = document.title;

  async function fetchUpdates() {
      const res = await fetch(`/k/{{thread.id}}/updates?after_id=${lastId}`);
      if(!res.ok) return;
      const data = await res.json();
      if (Array.isArray(data[0]) && data[0].length) {
	  insertReplies(data[0]);
	  unseenCount += data[0].length;
	  updateTitle();
      }
      lastId = data[1];
      setTimeout(fetchUpdates, 5000);
  }

  function insertReplies(replies){
      const container = document.getElementById('thread-replies');
      if (!container) return;
      const frag = document.createDocumentFragment();
      replies.forEach(p => {
	  const div = document.createElement('div');
	  div.className = 'reply';
	  div.dataset.postId = String(p.id);
	  div.id = `${p.id}`;
	  div.innerHTML = `
<p class="reply-tagline">
  <span class="reply-utid">
    ${p.uname}#${p.utid} [${p.country}]
  </span>
  <span class="reply-time">
    ${inLocalTime(p.ctime)}
  </span>
  <span class="reply-id">
    প্রকাশনা ${p.id}
  </span>
</p>
<div class="reply-body">
    <div class="reply-comment">${p.comment}</div>
</div>
<ul class="thread-buttons">
  <li class="thread-reply">
    <a href="#" onclick="add_ref('${p.id}'); return false;"
       title="(cite) পোস্টটি উদ্ধৃত করুন">
      <i class="fa-solid fa-angles-right"></i>${p.id}
    </a>
  </li>
  <li class="thread-report">
    <!-- TODO -->
    <a href="#" title="(report) রিপোর্ট করুন">
      <i class="fa-regular fa-flag"></i>
    </a>
  </li>
  <li class="thread-mod">
    <a href="/mod/${p.id}" title="(moderate) পরিচালনা করুন">
      <i class="fa-solid fa-ellipsis"></i>
    </a>
  </li>
</ul>
`;
	  frag.appendChild(div);
      });
      container.appendChild(frag);
  }

  fetchUpdates();

  function inLocalTime(s) {
    const options = { 
	year: 'numeric', 
	month: 'long', 
	day: 'numeric', 
	hour: '2-digit', 
	minute: '2-digit', 
	hour12: false,
    };

      const utcDate = new Date(s.trim());
      return utcDate.toLocaleString('bn-BD',options);
  }

  function updateTitle() {
      if (unseenCount > 0) {
	  document.title = `(${unseenCount}) ${originalTitle}`;
      }
  }

  function clearUnseen() {
      unseenCount = 0;
      document.title = `${originalTitle}`;
  }

  window.addEventListener('focus', clearUnseen);
</script>
